<html>
  <head>
    <title>About</title>
  </head>

  <body>
        <%= link_to "新規登録",new_user_registration_path %>
        <%= link_to "ログイン",new_user_session_path %>
        <h1>Aboutページ</h1>
  </body>
</html>
